@mixin decoration-link {
    text-decoration: none;
}

@mixin banners {
    height: 600px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@mixin fon {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}