@media (max-width: 992px) {
  .reg-menu {
    display: none !important; } }

@media (max-width: 990px) {
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 20px; }
  .collaps-menu #menu-main li a {
    display: block; }
  .collaps-menu {
    display: block !important; }
  .toggle-button {
    display: block !important; }
  .game-block {
    max-height: 100%;
    border-radius: 30px 0px; }
  .wpneo-meta-name {
    font-size: 0.9em; }
  .wpneo-funding-data {
    padding: 0 0 10px 0; }
  .wpneo-short-description {
    padding: 8px 0 20px !important; }
  .wpneo-author {
    font-size: 0.9rem !important; }
  .game-title {
    padding: 8px 0 !important; }
  .wds_slideshow_dots_container_0,
  .wds_slideshow_image_wrap_0 {
    overflow: visible !important; }
  .wds_slideshow_dots_thumbnails_0 {
    padding-top: 30px; }
  .post-prev {
    padding-top: 15px;
    margin: 0 !important; }
  .advantage .text-adv {
    margin-left: 15px !important;
    width: 250px !important; }
  .text-adv p {
    font-size: 13px !important;
    line-height: 30px !important; }
  .advantage {
    margin: 10px 0 !important; }
  .advantage > img {
    width: 10% !important; }
  .games-block-img {
    width: 80% !important; }
  .block-games {
    padding: 55px 0 25px 0; }
  .btn-game {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important; } }

@media (max-width: 1199px) {
  .logo-2 > img {
    max-width: 60%; }
  .logo-2 {
    display: block; }
  .logo-1 {
    display: none; } }

@media (min-width: 1200px) {
  .logo-2 {
    display: none; }
  .logo-1 {
    display: block; } }

@media (min-width: 550px) {
  .slider-desc {
    display: block !important; }
  .slider-mob {
    display: none !important; } }

    @media screen and (max-width: 1199px) {

  .area-head::before {
    display: none;
  }
  .btn-order {
    margin: 0;
  }
  .area-head {
    padding-left: 10px;
  }
  .area-head .adress{
    margin-left: 5px !important;
  }

  .post-block .post-item .post-content h3 {
    max-width: 180px;
  }
  .help {
    justify-content: center;
  }
  .help>p {
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 990px) {
  .mob-menu, .nav-mob {
    display: block;
  }
  .desc-menu, .bg-top-area {
    display: none;
  }

}