@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 100;
  src: url("fonts/MuseoSansCyrl.ttf");

}

@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/MuseoSansCyrl_0.ttf");
}

@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 300;
  src: url("fonts/MuseoSansCyrl_0.ttf");
}

@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 500;
  src: url("fonts/MuseoSansCyrl_1.ttf");
}

@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 700;
  src: url("fonts/MuseoSansCyrl_2.ttf");
}

@font-face {
  font-family: MuseoSansCyrl;
  font-style: normal;
  font-weight: 900;
  src: url("fonts/MuseoSansCyrl_3.ttf");
}


.wds_slider_cont {
  overflow: hidden;
}

body,
html {
  font-family: "MuseoSansCyrl", Arial, Helvetica, sans-serif;
  background-color: #f4f6f6;
  color: #313131;
  font-weight: 300;
}


.top-area {
  background-color: #fff;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 35px;
}

.top-area .adres {
  color: #686868;
  font-size: 14px;
}

.top-area .area-cont,
.top-area .area-adres {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.top-area .area-cont {
  align-items: flex-end;
}

.top-area .area-cont>p {
  margin-left: 25px;
}

.top-area .area-cont>p,
.top-area .area-adres>p {
  margin-bottom: 0;
}

.area-head {
  display: flex;
  width: 100%;
  background: linear-gradient(90deg, #058ec1, #1a5a95);
  padding-left: 30px;
  position: relative;
  color: #fff;
  justify-content: flex-end;
  padding-right: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
}



.area-head p>i, .navbar .phone-1 i  {
  color: #f9db52;
}

.area-head::before {
  content: " ";
  width: 100px;
  height: 50px;
  transform: rotate(55deg);
  background-color: #fff;
  left: -60px;
  position: absolute;
}

a {
  color: #313131;
}

.area-head p, .navbar p {
  padding: 10px 10px 10px 0;
  margin: 0 !important;
  font-size: 14px;
  font-weight: 700;
}

.text-menu .menu-main-container #menu-main-1 {
  padding: 0;
}

.text-menu .menu-main-container #menu-main-1 li a {
  display: block;
  padding: 10px 12px;
  overflow: hidden;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5em;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: #313131;
}

.text-menu .menu-main-container #menu-main-1 li a:active,
.text-menu .menu-main-container ul li a:hover {
  color: #00a6e5;
}

.text-menu {
  margin: 0 !important;
  padding: 0;
}

.text-menu-2 {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.btn-order>a {
  background-color: #f9db52;
  padding: 5px 10px;
  color: #313131;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 700;
}

.btn-order {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 40px;
}

.area-head .phone-1::after {
  content: " ";
  border-right: 1px solid #128fbe;
  right: 0;
  height: 30px;
  padding-left: 10px;
}

.area-head .phone-1 i, .navbar .phone-1 i {
  padding-right: 10px;
}

.area-head .adress {
  margin-left: 85px !important;
}

.bg-top-area {
  width: 50%;
  height: 51px;
  position: absolute;
  right: 0;
  background-color: #1a5a95;
}

.sliders-main .n2-ss-align .n2_ss__touch_element {
  box-shadow: 0 3px 10px #1b1b1baf;
}

.img-service {
  background: url(/wp-content/themes/vgw/img/service.jpg);
  box-shadow: 0 3px 10px #1b1b1baf;
  color: #fff;
  padding: 25px 30px 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-sapport {
  background: url(/wp-content/themes/vgw/img/sapport.jpg);
  box-shadow: 0 3px 10px #1b1b1baf;
  padding: 25px 30px 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.img-service h2,
.img-sapport h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 900;
  padding-bottom: 5px;
  max-width: 160px;
}

.img-service p {
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 11px;
}

.btn-service {
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 20px;
  border-radius: 3px;
  background-color: #ebf1f7;
  box-shadow: 0 3px 10px #1b1b1b7c;
  display: inline-block;
}

.img-sapport .btn-service {
  margin-top: 17px;
  background-color: #f9db52;
}

.block-padding {
  padding: 0 !important;
}

.phone {
  display: block;
  font-size: 22px;
  font-weight: 900;
  color: #313131;
}

.col-banner {
  max-width: 800px !important;
}

.col-service {
  padding-left: 5px;
}

.block-1 {
  padding-bottom: 40px;
}

.heading-container>h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 40px;
}

.block-2,
.block-4 {
  background-color: #fff;
  padding: 40px 0;
  overflow: hidden;
}

.img-about {
  float: left;
  padding: 0 35px 35px 0;
}

.block-2 ul {
  padding-top: 20px;
}

.block-2 .lothung {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.block-3,
.block-5 {
  padding: 40px 0;
}

.block-3 .probuct {
  border-radius: 15px;
  box-shadow: 0 3px 10px #1b1b1b5d;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.block-3 .probuct p {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  background-color: #0c7aa3;
  text-align: center;
  min-height: 83px;
  border-radius: 15px 15px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.block-3 a:hover .probuct p {
  background-color: #f9db52;
  color: #313131;
}

.block-3 a .probuct p>span {
  max-width: 180px;
  display: inline-block;
}

.block-3 a:hover .probuct {
  box-shadow: 0 3px 10px #1b1b1bad;
}

.block-3 a .probuct img {
  display: block;
  margin: 0 auto;
}

.block-3 a {
  text-decoration: none;
}

.post-block .post-item {
  list-style-type: none;
}

.post-block .post-item .post-content h3 {
  font-size: 16px;
  color: #313131;
  max-width: 300px;
  padding-left: 25px;
}

.post-block .post-item .post-content h3 a {
  color: #313131;
  text-decoration: none;
  font-weight: 700;
}

.wp-post-image {
  width: 100%;
  height: 100%;
}

.news-block,
.tomos {
  background-color: #fff;
  border-radius: 3px;
  height: 100%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  padding: 30px 30px 25px 30px;
  position: relative;
}

.btn-tomo {
  position: absolute;
  bottom: 25px;
  right: 30px;
}

.news-tetle h2 {
  font-size: 18px;
  text-transform: uppercase;
  color: #0c7aa3;
  font-weight: 900;
  text-align: center;
  margin-top: -7px;
}

.news-tetle h2::after {
  content: " ";
  border-bottom: 5px solid #0c7aa3;
  height: 25px;
  margin-left: -30px;
  margin-right: -30px;
  display: block;
}

.tomosintez h2 {
  min-height: 70px;
  background-color: #f9db52;
  margin: -30px -30px 35px -30px;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
}

.btn-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: flex-end;
}

.all-news-btn {
  text-decoration: none;
  -webkit-transition: 100ms ease;
  -o-transition: 100ms ease;
  transition: 100ms ease;
  font-weight: 500;
  font-size: 16px;
}
.all-news-btn:hover {
  color: #0c7aa3;
  text-decoration: none;
}
.post-block .data {
  min-width: 150px;
  padding-left: 25px;
  color: #aaa9a9;
  font-size: 16px;
  font-weight: 500;
}
.tomo-spisok .tomo-item {
  list-style-type: none;
  margin-bottom: 30px;
  display: flex;
}
.tomo-spisok .tomo-item a {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
}
.tomo-spisok ul li>div {
  display: inline-block;
}
.tomo-spisok .tomo-item i {
  font-size: 30px;
  color: #0c7aa3;
  padding-right: 30px;
}
.btm-send {
  text-transform: uppercase;
  padding: 12px 75px !important;
  background-color: #f9db52 !important;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
  color: #313131 !important;
  font-weight: 700 !important;
  margin-left: 25px;
}
.email-fild {
  padding: 12px 64px !important;
}
.block-6 {
  background: linear-gradient(90deg, #058ec1, #1a5a95);
}
.help {
  align-items: center;
  padding: 50px 0;
}
.help>p {
  margin: 0 !important;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding-right: 50px;
}
.form-help #fluentform_2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.form-help #fluentform_2>div {
  margin: 0 !important;
}
footer {
  background: linear-gradient(90deg, #058ec1, #1a5a95);
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 50px 0;
}

#menu-footer .sub-menu li {
  text-decoration: none;
  list-style-type: none;
}
#menu-footer li a {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
}
#menu-footer li {
  padding-bottom: 15px;
}
#menu-footer li a:hover,
footer a:hover
  {
  color:#f9db52;
}
footer a {
  text-decoration: none;
  color: #fff;
}
.sub-menu {
  padding: 25px 0 25px 70px;
}
#menu-main-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
#menu-main-1,
.collaps-menu #menu-main li a {
  padding: 0 10px;
}
#menu-footer {
  list-style-type: none;
  text-decoration: none;
}
.footer-text {
  text-align: left;
  margin-left: 12px;
  color: #8F98A0;
  font-size: 15px;
  line-height: 16px;
}
.mob-menu {
  border: none;
  background: none;
}
.mob-menu span {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(26, 90, 149, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}
.collaps-menu {
  display: none;
  width: 75%;
  height: 100%;
  background: url(img/fon.jpg);
  background-color: #000;
  position: fixed;
  z-index: 99999;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  margin-left: -100%;
}
.menu-show {
  margin-left: 0;
  -webkit-box-shadow: 4px 2px 15px 1px #B9ADAD;
  box-shadow: 4px 2px 15px 1px #B9ADAD;
}
.menu-wrap {
  background-color: #171a21;
  position: fixed;
  top: 0;
  height: 100%;
  width: 280px;
  margin-left: -100%;
  font-size: 1em;
  font-weight: 700;
  overflow: auto;
  -webkit-transition: .25s;
  -o-transition: .25s;
  transition: .25s;
  z-index: 10;
}
.mobil-menu-block {
  position: absolute;
  bottom: 10px;
  text-align: center;
}
.mob-menu-text {
  font-weight: lighter;
  text-align: left;
  padding: 0 20px;
}
.post-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 35px;
}
.post-block {
  padding-left: 0;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}
.copyright p {
  font-size: 14px;
  margin: 0 !important;
} 
.adres i, .tel-footer i {
padding-right: 15px;
color: #f9db52;
}
.adres i {
  font-size: 45px;
}
.adres p span {
  display: inline-block;
  max-width: 300px;
}
.adres {
  margin-bottom: 65px;
}
.contacts-footer p:not(:last-child),
.footer-shop p:not(:last-child) {
  padding-bottom: 30px;
}

.contacts-footer p span,
.footer-shop span  {
  font-weight: 700;
}
.footer-shop {
  margin-top: 45px;
}

.mob-menu, .nav-mob {
  display: none;
}
.nav-mob {
  background: linear-gradient(90deg, #058ec1, #1a5a95);
}
.navbar-toggler-mob {
  border-color: rgb(26, 90, 149) !important;
}
.mob-logo {
  max-width: 120px;
}


@media screen and (max-width: 1199px) {

  .area-head::before {
    display: none;
  }
  .btn-order {
    margin: 0;
  }
  .area-head {
    padding-left: 10px;
  }
  .area-head .adress{
    margin-left: 5px !important;
  }

  .post-block .post-item .post-content h3 {
    max-width: 180px;
  }
  .help {
    justify-content: center;
  }
  .help>p {
    padding-bottom: 20px;
  }

}

@media screen and (max-width: 990px) {
  .mob-menu, .nav-mob {
    display: block;
  }
  .desc-menu, .bg-top-area {
    display: none;
  }

}