@import '_vars';
@import 'color';
@import 'mixins/main-mixins';


@font-face {
    font-family: EXO;
    src: url('fonts/exo.ttf');
}

@font-face {
    font-family: Long_Pixel;
    src: url('fonts/16583.ttf');
}

body {
    font-family: "EXO";
    background-color: $bg-main;
    color: #fff;
}

/* Header and main manu */
.logo>img {
    max-height: 130px;
}

.main-menu {
    font-size: 20px;
}

.main-menu a {
    color: #b8b6b4;
}

.main-menu a:hover {
    color: #fff;
}

.mob-menu {
    border: none;
}

.mob-menu span {
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, .7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e") !important;
}

.btn-order>a {
    background-color: #5c7e10;
    padding: 5px 10px;
    color: #fff;
}

.reg-menu>span {
    color: #fff;
}

.reg-menu {
    display: flex;
    position: absolute;
    right: 24px;
    top: 5px;
    align-items: center;
}

.reg-menu a {
    text-decoration: none;
    font-size: 13px;
}

.text-menu {
    margin: 0 !important;
}

.text-menu-2 {
    justify-content: flex-end;
}

.text-menu li>a {
    text-transform: uppercase;
}

/* Block advantage */

.text-adv p {
    font-size: 20px;
    font-family: $font-advantages;
    color: #66c0f4;
    text-transform: uppercase;
    text-align: center;
    margin: 0;
    line-height: 35px;
    letter-spacing: 2px;
}

.advantage>img {
    width: 15%;
    max-width: 57px;
}

.advantage .text-adv {
    width: 205px;
    margin-left: 50px;
}

.advantage {
    align-items: center;
    margin: 30px 0 30px 0;
    flex-wrap: nowrap;
    justify-content: center;
}
.advantage-block {
    margin: 20px auto 20px auto;
}

/* block games */
.block-games {
    width: 100%;
    background: url(img/fon.jpg);
    @include fon;
    padding: 85px 0 55px 0;
}

.games-block-img {
    border: solid 5px #00ffff;
    width: 100%;
    transition: 100ms ease;
    margin-bottom: 30px;
}

.games-block-img:hover {
    box-shadow: 0 0 51px 0 rgba(168, 242, 242, 1);
}

/* Block order game */

.donat-progress {
    background-color: #171a21;
    padding-bottom: 50px;
}

.heading-container>h2 {
    text-transform: uppercase;
    color: #66c0f4;
    font-size: 45px;
    text-shadow: 0px 3px 4px rgba(0, 0, 0, 1);
    text-align: center;
    padding: 55px 0;
}

.image-game>img {
    width: 100%;
    border: solid 5px #b8b8b8;
    margin-bottom: 55px;
}

.game-block {
    background-color: #1b2838;
    margin-bottom: 50px;
}

.game-block-container {
    padding: 30px 60px;
}

.content-game>h3 {
    color: $h3-color;
    margin-bottom: 55px;
}

.content-game>p {
    margin-bottom: 55px;
}

.progress {
    height: 30px;
    border: solid 3px #00ffff;
    background-color: hsla(180, 100%, 50%, 0)
}

.progress-line {
    background-color: #00d200;
    width: 375px;
}

.progress-text {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    align-items: center;
}

.progress-text>p {
    font-size: 25px;
    margin: 0;
}

.progress-text>a {
    padding: 5px 10px;
    border-radius: 15px;
    border: solid 2px #ffffff;
    text-decoration: none;
    color: #fff;
    transition: 100ms ease;
}

.progress-text>a:hover {
    color: #00ffff;
    border: solid 2px #02bbbb;
}

/* Block */
.test {
    height: 500px;
}